<div class='navbar navbar-fixed-top'>
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "PayuRails", payu_rails.commissions_path, :class => 'brand' %>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><%= link_to "Commissions", payu_rails.commissions_path %></li>
          </ul>
        </div>
    </div>
  </div>
</div>
