<div class='row'>
  <div class="span12">
    <div class='row'>
      <p>
        OK, user clicked link for paying some product. This page should contain informations about checkout and redirection link to payu login site.
      </p>

      <p>
        In controller we just created <b>CreateOrderRequest</b> xml file and we sent it to PayU.
        In response we received <b>CreateOrderResposne</b> xml with STATUS and information about
        basic VALIDATION. In db was created record in <b>PayuRails::Commission</b> model.
      </p>

      <p>
        <h5>XML request looks like:</h5>
        <pre>
          <%= h @xml.to_xml %>
        </pre>

        <h5>XML response looks like:</h5>
        <pre>
          <%= h Nokogiri::XML(@req.response.body).to_xml %>
        </pre>

        <h5>And commission record:</h5>
        <pre>
          <%= @commission.inspect %>
        </pre>
      </p>

      <p>
        You can use two predefined helper methods for creating <i>hidden form</i> with basic informations
        for payu and redirection to login page:
        <ul>
          <li><b>redirect_uri</b></li>
          <li><b>response_type</b></li>
          <li><b>client_id/pos_id</b></li>
        </ul>
        For more please check out documentation.
      </p>
    </div>

    <div class='row'>
      <%= payu_login_link @commission, :image => true %>
    </div>
  </div>
</div>

