<div class='row'>
  <div class="span5">
    <div class='row'>
      <h3>First step</h3>
      <p>
        User initialize payment by clicking link for pay.
        Probably 'pay link' should be connected with some 
        model like payment, shopping basket, cart etc.
      </p>
    </div>
    <div class='row'>
      <%= link_to "Pay for product X", new_steps_initialize_pay_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>

