<div class='row'>
  <div class="span5">
    <div class='row'>
      <h3>Third step</h3>
      <p>
        If you are here that means user paid for your product.
        This page should be something like thank you page.
        With link to go back to your page
      </p>
    </div>
  </div>
</div>

